{% extends "base.html" %}}

{% block content%}
<style>
.container {
    width: 50%;
}
.url-form {
    width: 50%;
    margin: 2rem auto;
}
.button {
    display: block;
    margin: 0 auto;
    text-align: center;
}
.meme {
    margin-top: 3rem;
    width: 35%;
}

</style>
<div class="url-form">
    <form method="POST" action="/">
        {{ form.csrf_token }}
        {{ form.url }}
        <div class="button">
            <input class="btn-flat" type="submit" value="Classify">
        </div>
    </form>
</div>
<div class="container">
    <h3>Image classification</h3>
    <p>Artificial intelligence has come a long way, and image recognition is one of the fields that has matured a
        lot. Try to add a URL in the textfield above and see what state of the art neural networks thing is in your
        image.</p>
    <div class="meme">
        <img src="https://miro.medium.com/max/1200/0*r2RoWhRAi4bO0aM_.jpeg"/>
    </div>
</div>
{% endblock %}