{% extends "base.html" %}}

{% block content%}
<style>
.container {
    width: 50%;
}
.url-form {
width: 50%;
margin: 2rem auto;
}
.button {
display: block;
margin: 0 auto;
text-align: center;
}

</style>
<div class="url-form">
    <form method="POST" action="/">
        {{ form.csrf_token }}
        {{ form.url }}
        <div class="button">
            <input class="btn-flat" type="submit" value="Classify">
        </div>
    </form>
</div>
<div class="container">
    <h3>Image classification</h3>
    <p>This will explain the app</p>
</div>
{% endblock %}