{% extends "base.html" %}}

{% block content%}
<style>
    card {
        margin-top: 2rem;
        font-size: 30px;
        display: flex;
        align-items: center;
    }
    .card-title {
        margin-left: 1rem;
        color: #A9A9A9;
    }
    .card-content {
        margin-left: 2rem;
    }
    .container {
        width: 40%;
    }
    .url-form {
        width: 40%;
        margin: 2rem auto;
    }
    .button {
        display: block;
        margin: 0 auto;
        text-align: center;
    }
</style>
<div class="url-form">
    <form method="POST" action="/">
        {{ param.form.csrf_token }}
        {{ param.form.url }}
        <div class="button">
            <input class="btn-flat" type="submit" value="Classify">
        </div>
    </form>
</div>
<div class="container">
<div class="row">
  <div class="card">
    <div class="card-image">
      <img src="{{ param.url }}">
    </div>
    <span class="card-title">Predictions</span>
    <div class="card-content">
        <ul>
            {% for pred in param.preds %}
                <li>- {{ pred }}</li>
            {% endfor %}
        </ul>
    </div>
  </div>
</div>
</div>
{% endblock %}